body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 30px;
    color: #343a40;
}

th {
    font-weight: 500;
    color: #6c757d;
}

td {
    color: #343a40;
}

.btn {
    margin-top: 20px;
}

.btn-secondary {
    background-color: #6c757d;
}