<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Your Bids</title>

</head>


<body>
    <div class="container mt-5">
        <h1>Your Bids</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Bid ID</th>
                    <th scope="col">Seller Email</th>
                    <th scope="col">Listing ID</th>
                    <th scope="col">Bidder Email</th>
                    <th scope="col">Bid Price</th>
                </tr>
            </thead>
            <tbody>
                <!-- loop through bids -->
                {% for bid in bids %}
                    <tr>
                        <th scope="row">{{ bid[0] }}</th>
                        <td>{{ bid[1] }}</td>
                        <td>{{ bid[2] }}</td>
                        <td>{{ bid[3] }}</td>
                        <td>{{ bid[4] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mt-3">
            <a href="{{ url_for('bidder_welcome') }}" class="btn btn-secondary">Back to Bidder Welcome!</a>
        </div>
    </div>
</body>

</html>
