<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Edit Auction</title>
</head>
<body>
    <div class="container">
        <h1>Edit Auction</h1>
        <form action="{{ url_for('edit_auction', auction_listing_id=auction[1]) }}" method="post">
            <!-- form fields - pre-populated with the auction data -->
            <div class="form-group">
                <label for="auction_title">Auction Title:</label>
                <input type="text" name="auction_title" id="auction_title" class="form-control" value="{{ auction[3] }}" required>
            </div>
            <div class="form-group">
                <label for="product_name">Product Name:</label>
                <input type="text" class="form-control" id="product_name" name="product_name" value="{{ auction[4] }}"required>
            </div>
            <div class="form-group">
                <label for="product_description">Product Description:</label>
                <textarea class="form-control" id="product_description" name="product_description" rows="2" value="{{ auction[5] }}" required>{{ auction[5] }}</textarea>
            </div>
            <!-- quantity - number- required -->
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" class="form-control" id="quantity" name="quantity" min="1" value="{{ auction[6] }}"required>
            </div>
            <!-- reserve: price - should be a real num -->
            <div class="form-group">
                <label for="reserve_price">Reserve Price:</label>
                <input type="number" class="form-control" id="reserve_price" name="reserve_price" step="0.01" value="{{ auction[7] }}" required>
            </div>
            <!-- max-bid-allowed - number -->
            <div class="form-group">
                <label for="max_bids">Max Bids:</label>
                <input type="number" class="form-control" id="max_bids" name="max_bids" min="1" value="{{ auction[8] }}" required>
            </div>
            <!-- categories should have all the categories - category_name from the categories table - multiple sel -->
            <div class="form-group">
                <label for="categories">Select Category/Categories:</label>
                <p>Category Selected Before was: {{auction[2]}} </p>
                <div class="row">
                    {% for category_name in all_categories_name %}
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="categories" id="category-{{ category_name[0] }}" value="{{ category_name[0] }} {% if loop.first %}required{% endif %}">
                            <label class="form-check-label" for="category-{{ category_name[0] }}">
                            {{ category_name[0] }}
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            
            <button type="submit" class="btn btn-primary">Update Auction</button>
            {% with messages = get_flashed_messages(category_filter=['success']) %}
            {% if messages %}
            <div class="container">
                <ul class="list-unstyled alert alert-info">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
        </form>
        <a href="{{ url_for('manage_auctions') }}" class="btn btn-secondary">Back to Manage Auctions!</a>
    </div>
</body>
</html>
