<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Helpdesk Welcome</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Welcome, Helpdesk Staff!</h1>
        <h2>{{ user[0] }}, your position is {{ user[1] }}</h2>
        <a href="/" class="btn btn-danger mt-4">Logout</a>
    </div>
</body>
</html>