<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <h1>Manage Auctions</h1>
        <h2>Active Auctions</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Listing_ID</th>
                    <th>Category</th>
                    <th>Auction_Title</th>
                    <th>Product_Name</th>
                    <th>Product_Description</th>
                    <th>Quantity</th>
                    <th>Reserve_Price</th>
                    <th>Max_bids</th>
                    <th>Remaining_Bids</th>
                </tr>
            </thead>
            <tbody>
                {% for auction in active_auctions %}
                <tr>
                    <td>{{ auction[1] }}</td>
                    <td>{{ auction[2] }}</td>
                    <td>{{ auction[3] }}</td>
                    <td>{{ auction[4] }}</td>
                    <td>{{ auction[5] }}</td>
                    <td>{{ auction[6] }}</td>
                    <td>{{ auction[7] }}</td>
                    <td>{{ auction[8] }}</td>
                    <td>{{ auction[10] }}</td>

                    <td>
                        <a href="{{ url_for('edit_auction', auction_listing_id=auction[1]) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ url_for('take_off_market', auction_listing_id=auction[1]) }}" class="btn btn-warning">Take Off Listing</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Inactive Auctions</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Listing_ID</th>
                    <th>Category</th>
                    <th>Auction_Title</th>
                    <th>Product_Name</th>
                    <th>Product_Description</th>
                    <th>Quantity</th>
                    <th>Reserve_Price</th>
                    <th>Max_bids</th>
                    <th>Remaining_Bids</th>
                    <th>Reason_Off_Market</th>
                </tr>
            </thead>
            <tbody>
                {% for auction in inactive_auctions %}
                <tr>
                    <td>{{ auction[1] }}</td>
                    <td>{{ auction[2] }}</td>
                    <td>{{ auction[3] }}</td>
                    <td>{{ auction[4] }}</td>
                    <td>{{ auction[5] }}</td>
                    <td>{{ auction[6] }}</td>
                    <td>{{ auction[7] }}</td>
                    <td>{{ auction[8] }}</td>
                    <td>{{ auction[10] }}</td>
                    <th>{{ auction[11] }}</th>
                    <td>
                        <a href="{{ url_for('edit_auction', auction_listing_id=auction[1]) }}" class="btn btn-primary">Edit</a>
                        <!-- <a href="" class="btn btn-warning">Take Off Market</a> -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Sold Auctions</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Listing_ID</th>
                    <th>Category</th>
                    <th>Auction_Title</th>
                    <th>Product_Name</th>
                    <th>Product_Description</th>
                    <th>Quantity</th>
                    <th>Reserve_Price</th>
                    <th>Max_bids</th>
                    <th>Remaining_Bids</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for auction in sold_auctions %}
                <tr>
                    <td>{{ auction[1] }}</td>
                    <td>{{ auction[2] }}</td>
                    <td>{{ auction[3] }}</td>
                    <td>{{ auction[4] }}</td>
                    <td>{{ auction[5] }}</td>
                    <td>{{ auction[6] }}</td>
                    <td>{{ auction[7] }}</td>
                    <td>{{ auction[8] }}</td>
                    <td>{{ auction[10] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <a href="{{ url_for('seller_welcome') }}" class="btn btn-secondary">Back to Welcome</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>  
</body>
</html>